

<tr>
    <th scope="row">@customer.Id</th>
    <td>@customer.FirstName</td>
    <td>@customer.LastName</td>
    <td>@customer.Email</td>
    <td>@customer.GenderId</td>
    <td class="float-end">
        <button type="button" class="btn @ThemeInfo.EditButtonClass" @onclick="@(()=>OnHandleEdit(@customer))">Edit</button>
        <button type="button" @onclick=@(()=>OnHandleDelete(@customer)) class="btn @ThemeInfo.DeleteButtonClass">Delete</button>
    </td>
</tr>





